.card-img-top {
    width: auto;
}

.card-small {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 17.56%;
}

.card-small:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
